h1 {
    color: darkblue;
   font-weight: bold;
   text-align: center;
}
caption {
    color: blue;
    text-align: center;
}
th {
    background-color: grey;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}